@model List<Blog.Models.Comment>



@foreach (var item in Model)
{
    <span id="@item.PostID" name="@item.CommentId" class="@item.CommentId">
        <h2 name="@item.CommentId" style="color:red; text-align:center;" class="@item.PostID"><strong>@item.Body</strong></h2>
        <input type="text" id="getText" />
        <input type="button" onclick="Edytuj(this)" class="btn btn-warning" value="Edytuj komentarz" />
        <input type="button" onclick="Usun(this)" style="margin-left: 100px; margin-right: auto;" class="btn btn-danger mt-2" value="Usuń komentarz" />
    </span>
}
